body {
  background-color: #0E0F14;
  color: whitesmoke;
  font-family: 'Didact Gothic', sans-serif;
}

nav {
  background-color: #0E0F14;
  color: whitesmoke;
}

form {
  border-radius: 4px;
  min-height: 90%;
}

a {
  color: whitesmoke;
}

.jumbotron {
  color: whitesmoke;
  background-color: inherit;
}

.table {
  background-color: #111319;
  border-radius: 4px;
}

.form-control, .input-group-text {
  background-color: #1F2833;
  border-color: #1F2833;
  color: whitesmoke;
}

.form-control:focus {
  background-color: #1F2833;
  border-color: whitesmoke;
  box-shadow: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: inherit;
  color: whitesmoke;
  border-color: whitesmoke;
  border-bottom-color: #0E0F14;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.btn, .btn-sm {
  color:  whitesmoke;
  background-color: darkslateblue;
  border: 1px darkslateblue solid;
}

.btn-red {
  color: whitesmoke;
  background-color: #C9003C;
  border: 1px #C9003C solid;
}

.btn-green {
  color: whitesmoke;
  background-color: darkgreen;
  border: 1px darkgreen solid;
}

.btn-gold {
  color: whitesmoke;
  background-color: orangered;
  border: 1px orangered solid;
}

.btn:focus, .btn:hover, .btn:focus {
  color: whitesmoke;
  box-shadow: none;
  outline: none;
  filter: brightness(85%);
}

.card {
  background-color: #1F2833;
}

.badge-success {
  background-color: darkgreen;
}

.badge-info {
  background-color: #53565B;
}

.badge-danger {
  background-color: #C9003C;
}

.modal-content {
  background-color:  #111319;
}