body {
  background-color: whitesmoke;
  font-family: 'Didact Gothic', sans-serif;
}

nav {
  background-color: #2F4F4F;
  color: white;
}

form {
  background-color: white;
  border-radius: 4px;
  min-height: 90%;
}

a {
  color: #2F4F4F;
}

.page-content {
  background-color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #2F4F4F;
  font-weight: bold;
}

.btn, .btn-sm {
  color: white;
  background-color: #2F4F4F;
  border: 1px #2F4F4F solid;
}

.btn:hover, .btn-sm:hover {
  color: #2F4F4F;
  background-color: inherit;
  border: 1px #2F4F4F solid;
}

.btn-red {
  color: white;
  background-color: #CC0066;
  border: 1px #CC0066 solid;
}

.btn-red:hover{
  color: #CC0066;
  background-color: inherit;
  border: 1px #CC0066 solid;
}


.btn:focus, .btn-sm:focus {
  box-shadow: none;
  outline: none;
  color: black;
  background-color: gold;
  border-color: gold;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}