body {
  color: black;
  background-color: #F8F8F8;
  font-family: 'Nunito', sans-serif;
}

form {
  border-radius: 4px;
  min-height: 90%;
}

.jumbotron {
  background-color: #880085;
  color: white;
}

a {
  color: #880085;
  font-size: 14px;
  font-weight: bold;
}

a:hover {
  color: #880085;
}


.card,
.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.light-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

table,
.long-shadow {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.queued-for-purchase-row {
  background-color: #BEE5B0;
}

/*^^^Above CSS Applies Same Box Shadows to assorment of divs^^^*/

.table-header-icon,
.text-icon {
  margin-left: 3px;
  height: 20px;
  width: 20px;
}

.label-icon {
  margin: 10px 5px 0 5px;
  height: 19px;
  width: 19px;
}

.table-header-icon:hover,
.text-icon:hover {
  cursor: pointer;
}

.dark-link,
.dark-link:hover {
  color: black;
  font-weight: bold;
}

.light-link,
.light-link:hover {
  color: white;
  font-weight: bold;
}

.table {
  color: #0e0f14;
  background-color: white;
  border-radius: 4px;
}

form {
  color: black;
  border-color: transparent;
}

.form-control, .custom-select {
  background-color: white;
  border-color: grey;
  color: #0e0f14;
}

.input-group-text {
  background-color: #880085;
  color: white;
  border-color: #880085;
}

.form-control:focus, .custom-select:focus {
  background-color: white;
  border: 3px solid #880085;
  box-shadow: none;
}

.navbar-brand {
  color: #880085!important;
}

.nav-pill .nav-link {
  margin: 8px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: gold;
  color: black;
}

button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: none;
  color: white;
  box-shadow: none;
  box-shadow: 1px 1px 5px #880085;
}

.icebox-icon,
.thaw-icon {
  width: 25px;
  height: 25px;
}

.icebox-icon:hover,
.thaw-icon:hover {
  cursor: pointer;
}

.filter-icon {
  height: 22px;
}

.filter-row:hover {
  cursor: pointer;
}


.queued-for-purchase-icon {
  height: 15px;
  width: 15px;
}

.btn,
.btn-sm {
  color: white;
  background-color: #880085;
  border: 1px #880085 solid;
}

.btn-inverted {
  color: #880085;
  background-color: white;
  border: 2px #880085 solid;
}

.btn-red {
  color: white;
  background-color: #a50500;
  border: 1px #a50500 solid;
}

.btn-red-inverted {
  color: #a50500;
  background-color: inherit;
  border: 1px #a50500 solid;
}

.btn-red-inverted:hover {
  color: white;
  background-color: #a50500;
  border: 1px #a50500 solid;
}
.btn-red:active,
.btn-red:hover,
.btn-red-inverted:active,
.btn-red-inverted:hover,
.btn-red:focus,
.btn-red-inverted:focus {
  outline: none;
  box-shadow: none;
  box-shadow: 1px 1px 5px #A50500;
}

.btn-green {
  color: white;
  background-color: #0aa200;
  border: 1px #0aa200 solid;
}

.btn-green:active,
.btn-green:hover,
.btn-green:focus {
  outline: none;
  box-shadow: none;
  box-shadow: 1px 1px 5px #0aa200;
}

.btn-gold {
  color: white;
  background-color: #e8a735;
  border: 1px #e8a735 solid;
}

.btn-gold:active,
.btn-gold:hover,
.btn-gold:focus {
  outline: none;
  box-shadow: none;
  box-shadow: 1px 1px 5px #e8a735;
}



.card {
  color: black;
  background-color: white;
  border: none;
}

.badge-success {
  background-color: #0aa200;
}

.badge-info {
  background-color: #53565b;
}

.badge-danger {
  background-color: #a50500;
}

.badge-label {
  background-color: #880085;
  color: white;
  padding: 6px 8px;
  margin: 0 3px 0 0;
}

.delete-label-icon:hover {
  cursor: pointer;
}

.progress {
  background-color: rgb(187, 187, 187);
}

.progress-bar {
  font-weight: bold;
  background-color: #880085;
  color: white;
}

.modal {
  border: none;
  backdrop-filter: blur(6px) brightness(125%);
}

.modal-content {
  color: black;
  background-color: rgba(243, 243, 243, 0.80);
  border-radius: 20px;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  backdrop-filter: blur(4px);
}

.modal-body {
  color: black;
}

.close-modal-icon {
  color: #0e0f14;
}

/*Webkit Formats*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #708090;
}

::-webkit-scrollbar-thumb:hover {
  background: #596673;
}

.form-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: rgb(187, 187, 187);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #008080;
  cursor: pointer;
}

.form-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #008080;
  cursor: pointer;
}
