body {
  color: black;
  background-color: whitesmoke;
  font-family: 'Didact Gothic', sans-serif;
}

form {
  border-radius: 4px;
  min-height: 90%;
}

a {
  color: black;
}

table, .card, .nav-link {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/*^^^Above CSS Applies Same Box Shadows to assorment of divs^^^*/

.table-header-icon, .text-icon {
  margin-left: 3px;
  height: 20px;
  width: 20px;
}

.table-header-icon:hover, .text-icon:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: black;
}

.dark-link, .dark-link:hover {
    color: black;
    font-weight: bold;
}

.jumbotron {
  color: black;
  background-color: inherit;
}

.table {
  color: #0E0F14;
  background-color: white;
  border-radius: 4px;
}

form {
  color: black;
  border-color:transparent;
}

.form-control {
  background-color: white;
  border-color: grey;
  color: #0E0F14;
}

.input-group-text {
  background-color: blue;
  color: white;
  border-color: blue
}

.form-control:focus {
  background-color: white;
  border: 3px solid #0E0F14;
  color: #0E0F14;
  box-shadow: none;
}

.nav-pill .nav-link {
  margin: 8px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: gold;
  color: black;
}

button:focus, .btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn, .btn-sm {
  color:  white;
  background-color:  blue;
  border: 1px  blue solid;
}

.btn-red {
  color: white;
  background-color: #a50500;
  border: 1px #a50500 solid;
}

.btn-red-inverted {
  color: #a50500;
  background-color: inherit;
  border: 1px #a50500 solid;
}

.btn-red-inverted:hover {
  color: white;
  background-color: #a50500;
  border: 1px #a50500 solid;
}

.btn-green {
  color: white;
  background-color: #0aa200;
  border: 1px #0aa200 solid;
}

.btn-gold {
  color: white;
  background-color: #E8A735;
  border: 1px #E8A735 solid;
}

.btn:hover, .btn-sm:hover {
  color: white;
}

.card {
  color: black;
  background-color: white;
  border: none;
}

.badge-success {
  background-color: #0aa200;
}

.badge-info {
  background-color: #53565B;
}

.badge-danger {
  background-color: #a50500;
}

.progress {
  background-color: rgb(187, 187, 187);
}

.progress-bar {
  font-weight: bold;
  background-color: blue;
}

.modal-content {
  color: black;
  background-color: rgba(255,255,255,0.79);
  border-radius: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  backdrop-filter: blur(3px);
}


.modal-body {
  color: black;
}

.close-modal-icon {
  color: #0E0F14;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit; 
}
 

::-webkit-scrollbar-thumb {
  background-color: darkslateblue; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #3C2F8B;
}