.table th {
    border-top: none;
    border-bottom: none;;
}
 
.investment-name-text:hover {
    cursor: pointer;
}

.header{
    position:sticky;
    top: 0 ;
    background-color: #880085;
    color: white;
    z-index: 1;
    border-bottom: 1px solid black;
}

