th {
    border-top: none;
}

.table {
    border-top:none;
}

table {
    color: black;
}

th:first-child, td:first-child {
    position:sticky;
    left: 0;
    background-color: #ffffff;
}
  
.investment-name-text:hover {
    cursor: pointer;
}