th {
    border-top: none;
}

.table {
    border-top:none;
}

table {
    color: black;
}

th:first-child, td:first-child {
    position:sticky;
    left: 0;
    background-color: #ffffff;
}

th:first-child {
    background-color: #880085;
}
  
.investment-name-text:hover {
    cursor: pointer;
}

.header{
    position:sticky;
    top: 0 ;
    background-color: #880085;
    color: white;
    z-index: 1;
    border-bottom: 1px solid black;
}